@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

.button1:hover {
    background-color: darkgreen;
}

.button2:hover {
    background-color: darkblue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bai jamjuree;
    overflow-x: hidden;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.snippet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


.next-part {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-right: 10%;
    width: 100%;
    margin-right: 20%;
    padding-bottom: 6rem;
}

.next {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.access {
    text-align: center;
}

.container4 {
    text-align: center;
}

.next-part1 {
    text-align: center;
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.logo img {
    margin: 20px;
}

.faq {
    width: 5%;
}

.mac-ios {
    width: 100%;
    text-align: center;
    padding: 30px;
}

ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12rem;
    margin: 0 auto;
}

li {
    list-style: none;
    width: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

.links-list {
    /* border: 2px aqua solid; */
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.tail img {
    width: 50px !important;
}

.try {
    margin: 0 auto;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 30px;
}

.social {
    display: flex;
    gap: 2rem;

}

.main-logo {
    padding-top: 6rem;
    padding-bottom: 30px;
}

.history {
    padding-bottom: 15px;
}

.track {
    line-height: 25px;
    padding-bottom: 35px;
    width: 60%;
    text-align: center;
    align-items: center;
    margin: 0 auto;

}

.button1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    border-radius: 25px;
}

.button2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    border-radius: 25px;
}


.two-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 20px;
    width: 100%;
}

.subhead {
    padding-bottom: 20px;
}

.box {
    text-align: center;
    width: 35rem;
    line-height: 25px;
    padding-bottom: 60px;
}

.next {
    display: flex;
    gap: 4rem;

}

.box1 {
    width: 40%;

}

.box2 {
    width: 65%;
}

.container2 {
    width: 22rem;
}

.container3 {
    width: 21rem;
}

.next-box {
    padding-bottom: 10px;
}


.access {
    padding-bottom: 4rem;
}

.any {
    padding-bottom: 1rem;
}

.container4 {
    width: 100%
}

.picture {
    width: 50%;
}

.next-part1 {
    padding-bottom: 60px;
}

.charge {
    padding-bottom: 25px;
}

.container5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 6rem;

}

.box6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.blacklists {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.container5 {
    width: 90%;
}

.plain {
    padding-bottom: 30px;
}

.list {
    padding-bottom: 20px;
}

.icons {
    /* padding-bottom: 90px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    padding-bottom: 30px;
}

.free {
    width: 100%;

}

.mac-ios {
    margin-top: 70px;
    width: 100%;
}

.button1 {
    background-color: hsl(171, 66%, 44%);
    color: white;
}

.button2 {
    background-color: hsl(233, 100%, 69%);
    color: white;
}

.icon {
    background-image: url(images/bg-header-desktop.png), url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

@media (max-width:650px) {
    .two-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 20px;
    }

    .container {
        width: 100%;
    }

    .app {
        overflow: hidden;
    }

    .snippet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 0;
        width: 100%;
    }

    .snippet .box {
        width: 95%;
    }

    .next-part {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .box6 {
        width: 100%;
    }

    .blacklists {
        width: 100%;
    }

    .box2 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .next {
        width: 80%;
        margin: 0 auto;
    }

    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .access {
        width: 95%;
        margin: auto;
    }

    .next-part1 {
        width: 95%;
        margin: auto;
    }

    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mac-ios {
        width: 95%;
        text-align: center;
    }

    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 20px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        padding: 20px;
    }
}